*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    display: flex;
    height: 100%;
    width: 100%;
    
}
#main #left{
    position: relative;
    height: 100%;
    width: 30%;
    background-color: rgba(0, 0, 0, 0.774);
    
}
#main #centre{
    height: 100%;
    width: 50%;
    background-image: url(https://images.unsplash.com/photo-1594063596316-aa5f41ceb8dc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjZ8fGlyYW5pYW58ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#main #right{
    position: relative;
    display: flex;
    height: 100%;
    width: 20%;
    background-color: white;
} 
#right #rtop{
    position: absolute;
    height: 80%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1565112085863-0b695dca8a3b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YmxhY2slMjBoYXR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
    background-position: center;
    background-size: cover;
}
#right #rbtm{
  
    height: 20vh;
    width: 100vh;
    
    background-color: white;
}

#text h1{
    position: absolute;
    top: 18%;
    left: 39.5%;
    color: white;
    font-family: hursheys;
    font-weight: 100;
    font-size: 120px;
}
#text h2{
    position: absolute;
    top: 36%;
    left: 39.5%;
    color: white;
    font-family: hursheys;
    font-weight: 100;
    font-size: 120px;
}
#text1 h1{
    position: absolute;
    top: 74%;
    left: 30%;
    color:rgba(255, 255, 255, 0.270);
    font-family: hursheys;
    font-weight: 100;
    font-size: 20px;
}
#text1 h2{
    position: absolute;
    top: 78%;
    left: 30%;
    color: white;
    font-family: hursheys;
    font-weight: 100;
    font-size: 55px;
}
#text1 h3{
    position: absolute;
    top: 86.5%;
    left: 30%;
    color: white;
    font-family: hursheys;
    font-weight: 100;
    font-size: 55px;
}
#text2 h1{
    position: absolute;
    top: 5vh;
    left: 29vh;
    color: white;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 17px;
}
#text3 h1{
    position: absolute;
    top: 80%;
    left: 29%;
    color:rgba(255, 255, 255, 0.356);
    font-family: hursheys;
    font-weight: 100;
    font-size: 90px;
}
#text3 h2{
    position: absolute;
    top: 82%;
    left: 31%;
    color:rgba(255, 255, 255, 0.356);
    font-family: hursheys;
    font-weight: 100;
    font-size: 90px;
}
#text4 h1{
    position: absolute;
    top: 5%;
    left: 33%;
    color: rgba(255, 255, 255, 0.340);
    font-family: sans-serif;
    font-weight: 100;
    font-size: 17px;
}
#text4 h2{
    position: absolute;
    top: 5%;
    left: 73%;
    color: rgba(255, 255, 255, 0.340);
    font-family: sans-serif;
    font-weight: 100;
    font-size: 17px;
}
#text5 h1{
    position: absolute;
    bottom: 3%;
    left: 12%;
    color:black;
    font-family: hursheys;
    font-weight: 100;
    font-size: 80px;
}
#main #circle{
    position: absolute;
    top: 28%;
    left: 65%;
    height: 200px;
    width: 200px;
    border: .3px solid rgba(128, 128, 128, 0.753);
    border-radius: 50%;
}
#text6 h1{
    position: absolute;
    top: 44.5%;
    left: 26%;
    font-size: 12px;
    letter-spacing: 7px;
    color: gray;
    font-family: sans-serif;
    font-weight: 100;
}
#main #divline{
    position: absolute;
    top: 58%;
    height: 78px;
    width: 100%;
    left: 0%;
    border-top: .3px solid rgba(128, 128, 128, 0.580);
    border-bottom: .3px solid rgba(128, 128, 128, 0.580);
    z-index: 99;
}
#text7 h1{
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 12%;
    font-family: sans-serif;
    color:white;
    font-size: 9px;
    font-weight: 100;
    letter-spacing: 2px;
}
#text7 h2{
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 25%;
    font-family: sans-serif;
    color:rgba(255, 255, 255, 0.459);
    font-size: 9px;
    font-weight: 100;
    letter-spacing: 2px;
}
#text8 h1{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    right: 5%;
    font-family: sans-serif;
    color:white;
    font-size: 9px;
    font-weight: 100;
    letter-spacing: 2px;
}
#circle:hover{
    background-color: rgba(128, 128, 128, 0.123);
    cursor: pointer;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
}
#divline:hover{
    background-color: rgba(128, 128, 128, 0.123);
    cursor: pointer;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
}
#text h1:hover{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    cursor: pointer;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
}
#text h2:hover{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    cursor: pointer;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
}
#main #right #rbtm:hover{
    -webkit-text-fill-color: white;
    background-color: black;
    cursor: pointer;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
}
#main #right:hover{
    
    background-color: black;
    cursor: pointer;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
}
#text2 h1:hover{
    -webkit-text-fill-color:gray;
    cursor: pointer;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
}
#text4 h1:hover{
    -webkit-text-fill-color:white;
    cursor: pointer;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
}
#text4 h2:hover{
    -webkit-text-fill-color:white;
    cursor: pointer;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
}

@media(max-width: 500px){
    #main{
        flex-direction: column;
    }
    #main #left{
        width: 100%;
        
    }
    #main #right{
        width: 100%;
       
    }
    #main #centre{
        
        width: 100%;
        
    }
    #text2{
        position: absolute;
        left: -25vh;
    }
    #text4 h1{
        position: absolute;
        left: 23vh;
    }
    #text h1{
        position: absolute;
    top: 38%;
    left: 5vh;
    font-size: 60px;
    }
    #text h2{
        position: absolute;
    top: 66.5%;
    left: 5vh;
    font-size: 60px;
    }
    #text1 h1{
        position: absolute;
    top: 110%;
    left: 5vh;
    font-size: 20px;
    }
    #text1 h2{
        position: absolute;
    top: 121%;
    left: 5vh;
    font-size: 55px;
    }
    #text1 h3{
        position: absolute;
    top: 147%;
    left: 5vh;
    font-size: 55px;
    }
    #main #divline{
        position: absolute;
        top:90%;
        height: 30px;
        width: 100%;
        left: 0%;
        font-size: 5px;
    }
    #divline #text7 h1{
        position: absolute;
        font-size: 6px;
        left: 20%;
    }
    #divline #text7 h2{
        position: absolute;
        font-size: 6px;
        left: 35%;
    }
    #divline #text8 h1{
        position: absolute;
        font-size: 6px;
        right: 7%;
    }
    #text3 h2 {
        position: absolute;
        top: 60%;
        left: 72%;
        color: rgba(255, 255, 255, 0.356);
        font-family: hursheys;
        font-weight: 100;
        font-size: 30px;
    }
    #text3 h1 {
        position: absolute;
        top: 59%;
        left: 69.5%;
        color: rgba(255, 255, 255, 0.356);
        font-family: hursheys;
        font-weight: 100;
        font-size: 30px;
    }
    #main #right #rtop{
        width: 100%;
        height: 180%;
        background-position: center;
    background-size: cover;
    }
    
    #text5 h1{
        position: absolute;
        top: 25%;
        font-size: 80px;
    }
    #rbtm{
     position: absolute;  
     top: 180%;
    height: 120%;
    width: 100%;
  
    background-color: white;
    }
    #main #circle{
        position: absolute;
        top: 30%;
        left: 55%;
        height: 130px;
        width: 130px;
        border: .3px solid rgba(128, 128, 128, 0.753);
        border-radius: 50%;
    }
    #text6 h1{
        position: absolute;
        top: 46%;
        left: 26%;
        font-size: 6px;
        letter-spacing: 7px;
        color: gray;
        font-family: sans-serif;
        font-weight: 100;
    }
    
}
